<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert success</title>
</head>
<body>
    <div align="center">
        <h2>Insert succeeded!</h2>

        <p>firstName: </p><span th:text="${review.getFirstName()}"></span>
        <p>Time: </p><span th:text="${review.getTime()}"></span>
    </div>
</body>
</html>