<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Data</title>
    <!-- Include the JS for AG Grid -->
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-enterprise@29.3.5/dist/ag-grid-enterprise.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css" />
</head>

<body style="height: 95%;">
    <a href="/mainmenu">Home</a>
    <button onclick="deselect()">Deselect Rows</button>
    <input type="text" id="filter-text-box" placeholder="Quick filter..." oninput="onFilterTextBoxChanged()" />
    <div id="myGrid" class="ag-theme-alpine" style="height: 100%"></div>
    <script type="text/javascript">
        function deselect() {
            gridOptions.api.deselectAll()
        }

        const gridOptions = {

            defaultColDef: {
                flex: 1,
                sortable: true,
                filter: true,
                resizable: true,
                enableRowGroup: true,
            },

            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                        toolPanelParams: {
                            suppressSyncLayoutWithGrid: true,
                            suppressColumnMove: true,
                            suppressPivotMode: true,
                            suppressValues: true,
                            suppressRowGroups: true,
                        },
                    },
                ],
                defaultToolPanel: 'columns',
            },

            rowGroupPanelShow: 'always',

            columnDefs: [
                {
                    headerName: 'User Details',
                    children: [
                        { field: 'name', rowDrag: true },
                        { field: 'languages' },
                        { field: 'time' },
                    ]
                },
                {
                    headerName: 'Product Details',
                    children: [
                        { field: 'item name' },
                        { field: 'rating' },
                        { field: 'description', sortable: false, },
                    ]
                }
            ],
            rowDragManaged: true,

            rowSelection: 'multiple',
            animateRows: true,

            // example event handler
            onCellClicked: params => {
                console.log('cell was clicked', params)
            },

        };

        const eGridDiv = document.getElementById("myGrid");
        new agGrid.Grid(eGridDiv, gridOptions);

        fetch("testLocation")
            .then(response => response.text())
            .then(data => {
                var arr = data.replace(/\[|\]/g, '').split(',');
                var finArr = arr.map(function(item) {
                    return item.trim().replace(/"/g, '');
                });
                // trimming help from chatgpt

                fetch('http://localhost:8000/Users/' + finArr[0] + '/' + finArr[1], {cache: "no-store"})
                    .then(response => response.json())
                    .then(data => {
                    // console.log(data.items_list);
                    gridOptions.api.setRowData(data.items_list);
            })
            })
            .catch(e => console.error('Error: ', e))
        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }
    </script>
</body>

</html>